extends layout

mixin createEvent(number)

block content
	.container-fluid
		.jumbotron
			h1#title Gambling4em
			h2#subtitle=givenTitle
			br
			.row
				.col-xs-3.col-md-4
				.col-xs-6.col-md-4
					form(action='/createeventpage', method='post')
						input(type="hidden", name='groupName', value=givenTitle)
						button.btn.btn-primary.btn-lg.btn-block(type="submit") Create Event
			br
			br
			br
			.row
				each event, i in events
					//.col-xs-2.col-sm-hidden.col-md-hidden.col-lg-hidden
					.col-xs-12.col-sm-6
						button.btn.btn-primary.btn-lg.btn-block.boxed(align='center')
							h3=event.eventName
							h6 Created by !{events[i].eventCreator}
							h2=options[i][0].optionName
							h4 vs.
							h2=options[i][1].optionName
						br.col-md-hidden
						br.bol-md-hidden
					

//(eventIDArray, eventNameArray, eventCreatorArray, optionIDArray, optionNameArray