.container-fluid
	h1=givenTitle
	h3 Created by #{eventCreator}
	.row
		.col-xs-2
			h3=opt1
		.col-xs-2
			h3=opt2
	.row
		.col-xs-2
			form(action='/newbetop1',method='post')
				input(type="hidden", name='groupName', value=groupName)
				input(type="hidden", name='eventName', value=eventName)
				p Name
				input(type='text', name='better')
				p Address
				input(type='email', name='email')
				p Amount
				input(type='number', name='amount')
				input.button(type='submit')
		.col-xs-2
				input(type="hidden", name='groupName', value=groupName)
				input(type="hidden", name='eventName', value=eventName)
				form(action='/newbetop1',method='post')
				p Name
				input(type='text', name='better')
				p Address
				input(type='email', name='email')
				p Amount
				input(type='number', name='amount')
				input.button(type='submit')
