extends layout

block content
	.container-fluid
		.jumbotron
			h1#title Gambling4em
			h2#subtitle=givenTitle
			h5#subtitle Created by #{event.eventCreator}
			br
			br
			br
			.row
				each option, i in options
					.col-xs-6.col-sm-6
						form(action='/createbetpage', method='post')
							input(type="hidden", name='event', value=event);
							input(type="hidden", name='optionId', value=option.id)
							button.btn.btn-primary.btn-lg.btn-block(type="submit") Place Bet
						br
						br
						button.btn.btn-primary.btn-lg.btn-block.boxed(align='center')
							h3=option.optionName
							if bets[0].length==0
								h3 No bets have been placed
							else
								for bet in bets[i]
									h3 #{bet.betterName} has bet #{bet.betterAmount}
									h6 #{bet.betterAddress}

						