extends layout

block content
	.container-fluid
		.jumbotron
			form(action='/', method='get', align='center')
				button.titlebutton
					h1#title Bet Log
			form(action='/group/#{groupName}', method='get', align='center')
				button.titlebutton
					h3#subtitle=groupName
			br
			form(action='/event/#{eventId}', method='get', align='center')
				button.titlebutton
					h2#subtitle=eventName
			h5#subtitle Created by #{eventCreator}
			br
			h3.accessgranted ACCESS GRANTED
			br
			h3#subtitle Select a Winner:
			br
			br
			.row
				.col-xs-6
						form(action='/selectwin', method='post')
							input(type="hidden", name='groupName', value=groupName)
							input(type="hidden", name='eventId', value=eventId)
							input(type="hidden", name='winOptId', value=opt1id)
							input(type="hidden", name='loseOptId', value=opt2id)
							button.btn.btn-primary.btn-lg.btn-block(type="submit")=opt1name
				.col-xs-6
						form(action='/selectwin', method='post')
							input(type="hidden", name='groupName', value=groupName)
							input(type="hidden", name='eventId', value=eventId)
							input(type="hidden", name='winOptId', value=opt2id)
							input(type="hidden", name='loseOptId', value=opt1id)
							button.btn.btn-primary.btn-lg.btn-block(type="submit")=opt2name
