extends layout

mixin createEvent(number)

block content
	.container-fluid
		.jumbotron
			h1#title Gambling4em
			h2#subtitle=givenTitle
			br
			.row
				.col-xs-4
				.col-xs-4
					form(action='/createeventpage', method='post')
						input(type="hidden", name='groupName', value=givenTitle)
						button.btn.btn-primary.btn-lg.btn-block(type="submit") Create Event
			br
			.row
				each eventName, i in eventNameArray
					.col-xs-4
						a(href='/')
							.boxme.grppagebox(align='center')
								h3.boxed=eventName
								h6.boxed Created by !{eventCreatorArray[i]}
								h2.boxed=optionNameArray[i][0]
								h4.boxed vs.
								h2.boxed=optionNameArray[i][1]
					

//(eventIDArray, eventNameArray, eventCreatorArray, optionIDArray, optionNameArray